<div class="content-container" ng-controller = "AddClientBusinessDetailController">
    <ul class="breadcrumb">
        <li ng-show="clientName">
            <a href="#/viewclient/{{clientId}}">
                <strong>'{{clientName}}'</strong>
            </a>
        </li>
        <li class="active">{{'label.anchor.addclientbusinessdetail' | translate}}</li>
    </ul>
    <wizard current-step="step" on-finish="submit()" class="card well">
        <wz-step wz-title="{{'label.heading.information'|translate}}">
            <form name="Details" novalidate="" class=" form-horizontal " ng-submit="goNext(Details)">
                <fieldset>
                    <api-validate></api-validate>
                    <!--<h3>{{ 'label.heading.details' | translate }}</h3>-->
                    <hr>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.businesstype' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.businesstype' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="businesstype" class="form-control" name="businesstype" ng-model="formData.businesstype"
                                   required late-validate/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="businesstype"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.startingcapital' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.startingcapital' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="startingcapital" name="startingcapital" ng-model="formData.startingcapital"
                                   class="form-control" number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="startingcapital"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.businesscreationdate' | translate }}
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.businesscreationdate' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input id="businesscreationdate" sort type="text" class="form-control"
                                   datepicker-pop="dd MMMM yyyy" ng-model="date.first" is-open="opened"
                                   min="minDate" />
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="businesscreationdate"/>
                        </div>

                        <label class="control-label col-sm-2">{{ 'label.input.externalid' | translate }}<span
                                class="required">*</span>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="externalid" name="externalid" ng-model="formData.externalid"
                                   class="form-control" required late-validate/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="externalid"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.sourceofcapital' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.sourceofcapital' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="sourceofcapital" class="form-control" name="sourceofcapital" ng-model="formData.sourceofcapital"
                                   number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="sourceofcapital"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.totalemployees' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.totalemployees' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="totalemployees" name="totalemployees" ng-model="formData.totalemployees"
                                   class="form-control"  number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="totalemployees"/>
                        </div>
                    </div>
                    <hr>
                    <button class = "btn btn-default pull-left" wz-previous disabled><i class = "fa fa-arrow-left"></i>&nbsp;&nbsp;Previous</button>
                    <button class = "btn btn-default pull-right" type="submit">Next&nbsp;&nbsp;<i class = "fa fa-arrow-right"></i></button>
                </fieldset>
            </form>
        </wz-step>
        <wz-step wz-title="{{ 'label.heading.revenue' | translate }}">
            <form name="Currency" novalidate="" class=" form-horizontal " ng-submit="goNext(Currency)">
                <fieldset>
                    <api-validate></api-validate>
                    <!--<h3>{{ 'label.heading.currency' | translate }}</h3>-->
                    <hr>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.businessrevenue' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.businessrevenue' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="businessrevenue" class="form-control" name="businessrevenue" ng-model="formData.businessrevenue"
                                   number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="businessrevenue"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.averagemonthlyrevenue' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.averagemonthlyrevenue' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="averagemonthlyrevenue" name="averagemonthlyrevenue" ng-model="formData.averagemonthlyrevenue"
                                   class="form-control" number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="averagemonthlyrevenue"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.bestmonth' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.bestmonth' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="bestmonth" class="form-control" name="bestmonth" ng-model="formData.bestmonth"
                                   required late-validate/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="bestmonth"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.reasonforbestmonth' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.reasonforbestmonth' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <textarea rows="2" class="form-control" ng-model="formData.reasonforbestmonth" required late-validate></textarea>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="reasonforbestmonth"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.worstmonth' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.worstmonth' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="worstmonth" class="form-control" name="worstmonth" ng-model="formData.worstmonth"
                                   required late-validate/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="worstmonth"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.reasonforworstmonth' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.reasonforworstmonth' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <textarea rows="2" class="form-control" ng-model="formData.reasonforworstmonth" required late-validate></textarea>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="reasonforworstmonth"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.numberofpurchase' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.numberofpurchase' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="numberofpurchase" class="form-control" name="numberofpurchase" ng-model="formData.numberofpurchase"
                                   number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="numberofpurchase"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.purchasefrequency' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.purchasefrequency' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="purchasefrequency" name="purchasefrequency" ng-model="formData.purchasefrequency"
                                   class="form-control" required late-validate/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="purchasefrequency"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.totalpurchaselastmonth' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.totalpurchaselastmonth' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="totalpurchaselastmonth" class="form-control" name="totalpurchaselastmonth" ng-model="formData.totalpurchaselastmonth"
                                   number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="totalpurchaselastmonth"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.lastpurchase' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.lastpurchase' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="lastpurchase" name="lastpurchase" ng-model="formData.lastpurchase"
                                   class="form-control" required late-validate/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="lastpurchase"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.lastpurchaseamount' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.lastpurchaseamount' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="lastpurchaseamount" class="form-control" name="lastpurchaseamount" ng-model="formData.lastpurchaseamount"
                                   number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="lastpurchaseamount"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.businessassetamount' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.businessassetamount' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="businessassetamount" name="businessassetamount" ng-model="formData.businessassetamount"
                                   class="form-control" number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="businessassetamount"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.amountatinventory' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.amountatinventory' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="amountatinventory" class="form-control" name="amountatinventory" ng-model="formData.amountatinventory"
                                   number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="amountatinventory"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.fixedassetcost' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.fixedassetcost' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="fixedassetcost" name="fixedassetcost" ng-model="formData.fixedassetcost"
                                   class="form-control" number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="fixedassetcost"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.amountatcash' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.amountatcash' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="amountatcash" class="form-control" name="amountatcash" ng-model="formData.amountatcash"
                                   number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="amountatcash"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.amountatsaving' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.amountatsaving' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="amountatsaving" name="amountatsaving" ng-model="formData.amountatsaving"
                                   class="form-control" number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="amountatsaving"/>
                        </div>
                    </div>
                    <hr>
                    <button class = "btn btn-default pull-left" wz-previous><i class = "fa fa-arrow-left"></i>&nbsp;&nbsp;Previous</button>
                    <button class = "btn btn-default pull-right" type="submit" >Next&nbsp;&nbsp;<i class = "fa fa-arrow-right"></i></button>
                </fieldset>
            </form>
        </wz-step>
        <wz-step wz-title="{{ 'label.heading.expense' | translate }}">
            <form name="Terms" novalidate="" class=" form-horizontal " ng-submit="goNext(Terms)">
                <fieldset>
                    <api-validate></api-validate>
                    <!--<h3>{{ 'label.heading.terms' | translate }}</h3>-->
                    <hr>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.totalintax' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.totalintax' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="totalintax" class="form-control" name="totalintax" ng-model="formData.totalintax"
                                   number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="totalintax"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.totalintransport' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.totalintransport' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="totalintransport" name="totalintransport" ng-model="formData.totalintransport"
                                   class="form-control" number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="totalintransport"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.totalinrent' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.totalinrent' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="totalinrent" class="form-control" name="totalinrent" ng-model="formData.totalinrent"
                                   number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="totalinrent"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.totalincommunication' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.totalincommunication' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="totalincommunication" name="totalincommunication" ng-model="formData.totalincommunication"
                                   class="form-control" number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="totalincommunication"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.otherexpense' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.otherexpense' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <textarea rows="2" class="form-control" ng-model="formData.otherexpense" required late-validate></textarea>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="otherexpense"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.otherexpenseamount' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.otherexpenseamount' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="otherexpenseamount" name="otherexpenseamount" ng-model="formData.otherexpenseamount"
                                   class="form-control" number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="otherexpenseamount"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.totalutility' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.totalutility' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="totalutility" class="form-control" name="totalutility" ng-model="formData.totalutility"
                                   number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="totalutility"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.totalworkersalary' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.totalworkersalary' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="totalworkersalary" name="totalworkersalary" ng-model="formData.totalworkersalary"
                                   class="form-control" number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="totalworkersalary"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ 'label.input.totalwage' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle "
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.totalwage' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="totalwage" class="form-control" name="totalwage" ng-model="formData.totalwage"
                                   number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="totalwage"/>
                        </div>
                        <label class="control-label col-sm-2">{{ 'label.input.society' | translate }}<span
                                class="required">*</span>
                            <i class="fa fa-question-circle"
                               uib-tooltip="{{'label.tooltip.clientbusinessdetail.society' | translate}}"
                               tooltip-append-to-body="true"></i>
                        </label>

                        <div class="col-sm-2">
                            <input type="text" id="society" name="society" ng-model="formData.society"
                                   class="form-control" number-format required late-validate number=true/>
                        </div>
                        <div class="col-sm-2">
                            <form-validate valattributeform="Details" valattribute="society"/>
                        </div>
                    </div>
                    <hr>
                    <button class = "btn btn-default pull-left" wz-previous><i class = "fa fa-arrow-left"></i>&nbsp;&nbsp;Previous</button>
                    <button class = "btn btn-default pull-right" type="submit">Next&nbsp;&nbsp;<i class = "fa fa-arrow-right"></i></button>
                </fieldset>
            </form>
        </wz-step>
        <wz-step ng-if="isClicked" wz-title = "Preview">
            <form name="Preview" novalidate="" class="form-horizontal  ">
                <fieldset>
                    <api-validate></api-validate>
                    <br>
                    <hr>
                    <table width="100%">
                        <tr>
                            <td>
                                <a id="test" class="old-syle-anchor">&nbsp;</a>
                            </td>
                        </tr>
                        <tr class="bottomborder">
                            <td colspan="4">
                                <strong>{{'label.heading.details' | translate}}</strong>
                            </td>
                        </tr>
                        <tr class="toppadding" ng-show="businessDetails.businesstype">
                            <td>{{'label.heading.businesstype' | translate}} :</td>
                            <td colspan="3">{{businessDetails.businesstype}}</td>
                        </tr>

                    </table>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-offset-5 paddedtop">
                        <button id="cancel" type="reset" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' |
                            translate}}
                        </button>
                        <button id="save" type="submit" class="btn btn-primary" wz-next has-permission='CREATE_businessDetails'>
                            {{'label.button.createbusinessDetails'
                            | translate}}
                        </button>
                    </div>
                    <hr>
                    <button class = "btn btn-default pull-left" wz-previous><i class = "fa fa-arrow-left"></i>&nbsp;&nbsp;Previous</button>
                    <button class = "btn btn-default pull-right" disabled>Next&nbsp;&nbsp;<i class = "fa fa-arrow-right"></i></button>
                </fieldset>
            </form>
        </wz-step>
    </wizard>
</div>
