<div class="content-container" ng-controller="ClientOtherInfoEntityController">
    <ul class="breadcrumb">
        <li><a href="#/clients">{{'label.anchor.clients' | translate}}</a></li>
        <li><a href='#/viewclient/{{clientId}}'>{{'label.anchor.viewclient' | translate}}</a></li>
        <li class="active">{{'label.anchor.clientOtherInfo' | translate}}</li>
    </ul>
    <div class="card" ng-if="!exists">
        <div class="content">
        <div class="toolbar">
            <h4>{{ 'label.heading.clientOtherInfo' | translate }}</h4>
        </div>
        <br/>
        <form name="clientotherinfoform" class="form-horizontal" rc-submit="submit()" >
            <api-validate></api-validate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="businessLocation">{{ 'label.input.businessLocation' | translate }}
                        <span class="required">*</span></label>

                    <div class="col-sm-3">
                        <input id="businessLocation" name="businessLocation" type="text" class="form-control" ng-model="formData.businessLocation" required>
                    </div>
                    <form-validate valattributeform="clientotherinfoform" valattribute="businessLocation"/>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="taxIdentificationNumber">{{ 'label.input.taxIdentificationNumber' | translate }}
                        <span class="required">*</span></label>

                    <div class="col-sm-3">
                        <input id="taxIdentificationNumber" name="taxIdentificationNumber" type="text" class="form-control" ng-model="formData.taxIdentificationNumber" required late-validate>
                    </div>
                    <form-validate valattributeform="clientotherinfoform" valattribute="taxIdentificationNumber"/>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="coSignorsName">{{ 'label.input.coSignorsName' | translate }}
                    </label>

                    <div class="col-sm-3">
                        <input id="coSignorsName" name="coSignorsName" type="text" class="form-control" ng-model="formData.coSignorsName">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="guarantor">{{ 'label.input.guarantor' | translate }}
                    </label>

                    <div class="col-sm-3">
                        <input id="guarantor" name="guarantor" type="text" class="form-control" ng-model="formData.guarantor">
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="incomeGeneratingActivity">{{ 'label.input.incomeGeneratingActivity' | translate }}
                    </label>

                    <div class="col-sm-3">
                        <input id="incomeGeneratingActivity" name="incomeGeneratingActivity" type="text" class="form-control" ng-model="formData.incomeGeneratingActivity" late-validate>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ 'label.input.incomeGeneratingActivityMonthlyAmount' | translate }}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <input id="incomeGeneratingActivityMonthlyAmount" type="text" name="incomeGeneratingActivityMonthlyAmount" number-format ng-model="formData.incomeGeneratingActivityMonthlyAmount" class="form-control" ng-late-Validate/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="strataId">{{ 'label.input.strata' | translate }}
                        <span class="required">*</span></label>

                    <div class="col-sm-3">
                        <select chosen="strataOptions" id="strataId" name = "strataId" ng-model="formData.strataId" class="form-control"
                                ng-options="strata.id as strata.name for strata in strataOptions"
                                value="{{strata.id}}" required></select>
                    </div>
                    <form-validate valattributeform="clientotherinfoform" valattribute="strataId"/>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="telephoneNo">{{ 'label.input.telephoneNo' | translate }}
                    </label>

                    <div class="col-sm-3">
                        <input id="telephoneNo" name="telephoneNo" type="text" class="form-control" ng-model="formData.telephoneNo">
                    </div>

                </div>
                <div class="col-md-offset-3">
                    <button id="cancel" type="reset" class="btn btn-default" ng-click="cancel()">{{ 'label.button.cancel' | translate
                        }}
                    </button>
                    <button id="save" type="submit" has-permission='CREATE_CLIENTOTHERINFO' class="btn btn-primary">{{ 'label.button.save' | translate }}</button>
                </div>

            </fieldset>
        </form> 
        </div>
    </div>
    <div class="card well" ng-if="exists">
        <div class="toolbar">
            <h4>Client Other Info</h4>
        </div>
        <div class="pull-right">
            <div class="form-group">
                <a href="#/editclientOtherInfoEntity/{{clientId}}/{{otherInfoData.id}}" class="btn btn-primary" has-permission='UPDATE_CLIENTOTHERINFO'><i class="fa fa-edit "></i>
                    {{'label.button.edit' | translate}}</a>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>{{'label.heading.businessLocation' | translate}}</td>
                        <td>{{otherInfoData.businessLocation}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.taxIdentificationNumber' | translate}}</td>
                        <td>{{otherInfoData.taxIdentificationNumber}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.coSignorsName' | translate}}</td>
                        <td>{{otherInfoData.coSignors}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.guarantor' | translate}}</td>
                        <td>{{otherInfoData.guarantor}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.incomeGeneratingActivity' | translate}}</td>
                        <td>{{otherInfoData.incomeGeneratingActivity}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.incomeGeneratingActivityMonthlyAmount' | translate}}</td>
                        <td>{{otherInfoData.incomeGeneratingActivityMonthlyAmount}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.telephoneNo' | translate}}</td>
                        <td>{{otherInfoData.telephoneNumber}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>