<div class="content-container" ng-controller="ClientRecruitmentSurveyController">
    <ul class="breadcrumb">
        <li><a href="#/clients">{{'label.anchor.clients' | translate}}</a></li>
        <li><a href='#/viewclient/{{clientId}}'>{{'label.anchor.viewclient' | translate}}</a></li>
        <li class="active">{{'label.anchor.clientRecruitmentSurvey' | translate}}</li>
    </ul>
    <div class="card" ng-if="!exists">
        <div class="content">
        <div class="toolbar">
            <h4>{{ 'label.heading.addClientRecruitmentSurvey' | translate }}</h4>
        </div>
        <br/>
        <form name="surveyform" class="form-horizontal" rc-submit="submit()" >
            <api-validate></api-validate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="countryId">{{ 'label.input.country' | translate }}
                        <span class="required">*</span></label>

                    <div class="col-sm-3">
                        <select chosen="countryOptions" id="countryId" name = "countryId" ng-model="formData.countryId" class="form-control"
                                ng-options="country.id as country.name for country in countryOptions"
                                value="{{country.id}}" required></select>
                    </div>
                    <form-validate valattributeform="surveyform" valattribute="countryId"/>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="cohortId">{{ 'label.input.cohort' | translate }}
                        <span class="required">*</span></label>

                    <div class="col-sm-3">
                        <select chosen="cohortOptions" id="cohortId" name="cohortId" ng-model="formData.cohortId" class="form-control"
                                ng-options="cohort.id as cohort.name for cohort in cohortOptions"
                                value="{{cohort.id}}" required></select>
                    </div>
                    <form-validate valattributeform="surveyform" valattribute="cohortId"/>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="programId">{{ 'label.input.program' | translate }}
                        <span class="required">*</span></label>

                    <div class="col-sm-3">
                        <select chosen="programOptions" id="programId" name="programId" ng-model="formData.programId" class="form-control"
                                ng-options="program.id as program.name for program in programOptions"
                                value="{{program.id}}" required></select>
                    </div>
                    <form-validate valattributeform="surveyform" valattribute="nationalityId"/>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="surveyName">{{ 'label.input.surveyName' | translate }}
                        <span class="required">*</span></label>

                    <div class="col-sm-3">
                        <input id="surveyName" name="surveyName" type="text" class="form-control" ng-model="formData.surveyName">
                    </div>
                    <form-validate valattributeform="surveyform" valattribute="surveyName"/>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="surveyLocation">{{ 'label.input.surveyLocation' | translate }}
                        <span class="required">*</span></label>

                    <div class="col-sm-3">
                        <input id="surveyLocation" name="surveyLocation" type="text" class="form-control" ng-model="formData.surveyLocation">
                    </div>
                    <form-validate valattributeform="surveyform" valattribute="surveyLocation"/>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="startDate">{{ 'label.input.startDate' | translate }}
                        <span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input id="startDate" type="text" name="startDate" datepicker-pop="dd MMMM yyyy"
                               ng-model="formData.startDate" is-open="opened1" min="minDate" max="restrictDate"
                               class="form-control" />
                    </div>
                    <form-validate valattributeform="surveyform" valattribute="startDate"/>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="endDate">{{ 'label.input.endDate' | translate }}
                        <span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input id="endDate" type="text" name="endDate" datepicker-pop="dd MMMM yyyy"
                               ng-model="formData.endDate" is-open="opened1" min="minDate" max="restrictDate"
                               class="form-control" />
                    </div>
                    <form-validate valattributeform="surveyform" valattribute="endDate"/>
                </div>
                <div class="col-md-offset-3">
                    <button id="cancel" type="reset" class="btn btn-default" ng-click="cancel()">{{ 'label.button.cancel' | translate}}</button>
                    <button id="save" type="submit" has-permission='CREATE_CLIENTRECRUITMENTSURVEY' class="btn btn-primary">{{ 'label.button.save' | translate }}</button>
                </div>

            </fieldset>
        </form> 
        </div>
    </div>
    <div class="card well" ng-if="exists">
        <div class="toolbar">
            <h4>{{'label.heading.clientRecruitmentSurvey' | translate}}</h4>
        </div>
        <div class="pull-right">
            <div class="form-group">
                <a href="#/editclientRecruitmentSurvey/{{clientId}}/{{surveyData.id}}" class="btn btn-primary" has-permission='UPDATE_CLIENTOTHERINFO'><i class="fa fa-edit "></i>
                    {{'label.button.edit' | translate}}</a>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>{{'label.heading.surveyName' | translate}}</td>
                        <td>{{surveyData.surveyName}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.surveyLocation' | translate}}</td>
                        <td>{{surveyData.surveyLocation}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.startDate' | translate}}</td>
                        <td>{{surveyData.startDate | DateFormat}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.endDate' | translate}}</td>
                        <td>{{surveyData.endDate | DateFormat}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.country' | translate}}</td>
                        <td>{{surveyData.country.name}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.cohort' | translate}}</td>
                        <td>{{surveyData.cohort.name}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.program' | translate}}</td>
                        <td>{{surveyData.program.name}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>